* {
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    background-image: url(../images/plume.png);
}

.title {
    color: oldlace;
}

.label {
    color: oldlace;
}

.showBtn {
    padding: 5px;
    margin: 5px;
}

#show-form {
    margin: 10px;
}

.rating {
    color: oldlace;
}